@using BootcampProject.Core.DTOs.InvoiceDtos
@using BootcampProject.Web.Extensions
@{
    Layout = "_Layout";
    ViewData["Title"] = "Update Invoice";
}
@model UpdateInvoiceDto

<div class="row mt-5 mb-5">
    <div class="col-10 offset-1">
        @using (Html.BeginForm("Update", "Invoice", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="card-body">
                    <p class="text-danger">@TempData["Error"]</p>

                    <div class="mb-3">
                        @Html.LabelFor(model => model.InvoiceTypeId, "Invoice Type")
                        <div class="input-group">
                            @Html.DropDownListFor(x => x.InvoiceTypeId, (List<SelectListItem>)ViewBag.InvoiceTypes, new { @class = "form-control"})
                        </div>
                        @Html.ValidationMessageFor(x => x.InvoiceTypeId, null, new {@class = "text-danger mb-1"})
                    </div>

                    <div class="mb-3">
                        @Html.LabelFor(model => model.Amount, "Invoice Amount")                        
                        <div class="input-group">
                        @Html.TextBoxFor(x => x.Amount, new {@class = "form-control", placeholder = "Amount ex 50.00"})
                        </div>
                        @Html.ValidationMessageFor(x => x.Amount, null, new {@class = "text-danger mb-1"})
                    </div>

                    <div class="mb-3">
                    @Html.LabelFor(model => model.PaymentDue, "Payment Due")
                        <div class="input-group">
                        @Html.TextBoxFor(x => x.PaymentDue, new {@class = "form-control", placeholder = "Payment due", id="invDate", type="date"})
                        </div>
                        @Html.ValidationMessageFor(x => x.PaymentDue, null, new {@class = "text-danger mb-1"})
                    </div>

                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            }
    </div>
</div>

@section scripts{

<script type="text/javascript">
    $(document).ready(function(){
        var date = "@Model.PaymentDue.ToJsString()";
        console.log(date);
        $('#invDate').val(date);
    });
</script>
}