@using BootcampProject.Core.DTOs.ApartmentDtos
@model PaginatedApartmentsDto
@{
    Layout = "_Layout";
    ViewData["Title"] = "Apartments";
}

<div id="success"></div>

<div class="row mt-5 mb-5">
    <div class="col-10 offset-1">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Apartment Residents List</h3>

                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <a class="btn btn-sm btn-success" asp-action="Create" asp-controller="Apartment">
                            <i class="fa-solid fa-user-plus mr-1"></i> Create New Apartment
                        </a>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap text-center">
                    <thead>
                        <tr>
                            <th>Apartment Number</th>
                            <th>Floor</th>
                            <th>Block</th>
                            <th>Occupation Status</th>
                            <th>Occupied by</th>
                            <th>Owner Mail</th>
                            <th>Registered Date</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var apartment in Model.Apartments)
                        {
                            <tr>
                                <td>@apartment.ApartmentNumber</td>
                                <td>@apartment.Floor</td>
                                <td>@apartment.BlockName</td>
                                <td>@apartment.Occupied</td>
                                <td>@apartment.OwnerFullName</td>
                                <td>@apartment.OwnerEmail</td>
                                <td>@apartment.CreatedAt.ToShortDateString()</td>
                                <td>
                                    <a class="btn btn-sm btn-warning" asp-action="Update" asp-controller="Apartment" asp-route-id="@apartment.Id">
                                        <i class="fa-regular fa-pen-to-square"></i>
                                    </a>
                                    <a class="btn btn-sm btn-danger" data-toggle="modal" data-target="#modal-delete" onclick="getId('@apartment.Id')">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="card-footer clearfix">
                    <ul class="pagination pagination-sm m-0 float-right">
                        <li class="page-item"><a class="page-link" asp-action="Index" asp-controller="User" asp-route-id="1">&laquo;</a></li>
                        @for (int page = Model.CurrentPage; page <= (Model.CurrentPage + 3 <= Model.TotalPages ? Model.CurrentPage + 3 : Model.TotalPages); page++)
                        {
                            @*<li class="page-item"><a class="page-link" asp-action="Index" asp-controller="User" asp-route-id="@(page)">@(page)</a></li>*@
                            <li class="page-item">
                                @Html.ActionLink(page.ToString(), "Index", "User", null, null, null, new { page = page }, new { @class = "page-link" })



                            </li>
                        }
                        <li class="page-item"><a class="page-link" asp-action="Index" asp-controller="User" asp-route-id="@Model.TotalPages">&raquo;</a></li>
                    </ul>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>

<div class="modal fade" id="modal-delete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Are you sure?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Do you really want to delete this record? This process cannot be undone.</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a class="btn btn-sm btn-danger" id="modalDeleteButton" href="">Delete</a>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@section scripts{

<script type="text/javascript">

        function getId(clicked_id) {
            this.clickId = clicked_id;
            console.log(clickId);

            $('#modalDeleteButton').attr("href", "/Apartment/Delete/"+clicked_id)
         }

         $(document).ready(function() {
            var success = @((TempData["Message"] != null).ToString().ToLower());

            if (success == true) {
                $(document).Toasts('create', {
            class: 'bg-success',
            title: 'Success',
            subtitle: '',
            body: '@TempData["Message"]'
          })
            }
        });

</script>
}

