@using BootcampProject.Core.DTOs.UserPaymentDtos
@{
    Layout = "_Layout";
    ViewData["Title"] = "Make Payment";
}
@model BillDto

<div class="row mt-5 mb-5">
    <div class="col-10 offset-1">
        @using (Html.BeginForm("Pay", "UserPayment", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="card-body">
                <p class="text-danger">@TempData["Error"]</p>

                <div class="mb-3">
                    @Html.LabelFor(x=>x.CreditCardNumber, "Select a credit card")
                    <div class="input-group">
                        @Html.DropDownListFor(x => x.CreditCardNumber, (List<SelectListItem>)ViewBag.CreditCards, new { @class = "form-control", id="selectedCard"})
                    </div>
                    @Html.ValidationMessageFor(x => x.CreditCardNumber, null, new {@class = "text-danger mb-1"})
                </div>
                @Html.TextBoxFor(x=>x.InvoiceId, new { type="hidden", value="", id="invId"})

                <button type="submit" class="btn btn-success" id="paybtn">Pay Now</button>
                <strong class="mr-5 ml-5">Or</strong>
                <a class="btn btn-primary" asp-action="Create" asp-controller="UserPayment">Add new credit card</a>
            </div>
        }
    </div>
</div>

@section scripts{

<script type="text/javascript">
    $(document).ready(function(){
        var data = "@ViewBag.id";
        console.log(data);
        $('#invId').val(data);

        if($('#selectedCard option:selected').val() == null){
            
            $('#paybtn').attr('disabled', true)
        }

    });
</script>
}